*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


.menu-btn {
    transition-duration: 0.25s;
    transform: translateX(-4px);
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 3px;
    width: 25px;
    background-color: rgb(2, 2, 2);
    cursor: pointer;
}

.menu-btn::before, .menu-btn::after {
    content: '';
    display: flex;
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: rgb(2, 2, 2);
    transition-duration: 0.25s;
}

.menu-btn::before {
    top: -8px;
}

.menu-btn::after {
    top: 8px;
}

.menu-text {
    top: 20px;
    left: 55%;
    position: absolute;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    position: fixed;
    height: 60px;
    min-width: 100%;
    background-color: rgb(28, 231, 72);
    box-shadow: 0 4px 8px rgb(2, 2, 2);
}


.sidebar {
    transform: translateX(-1200px);
}

.bar.open > .sidebar {
    transition: ease-in 0.3s;
    transform: translateX(0);
    background-color:rgb(231, 192, 19);
    display: flex;
    position: fixed;
    width: 280px;
    height: calc(100% - 60px);
    top: 62px;
    left: 0;
}

.bar.open > span, a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
}

.bar.open span:nth-child(1) {
    display: flex;
    position: absolute;
    top: 30px;
    left: 100px;
}

.bar.open span:nth-child(2) {
    display: flex;
    position: absolute;
    top: 90px;
    left: 100px;
}
.bar.open span:nth-child(3) {
    display: flex;
    position: absolute;
    top: 150px;
    left: 100px;
}

.bar.open > .menu-btn {
    background: transparent;
    transition: ease-in 0.2s;
}

.bar.open > .menu-btn::before {
    transform: rotate(45deg) translate(1px, 10px);
    transition-duration: .25s;
}

.bar.open > .menu-btn::after {
    transform: rotate(-45deg) translate(1px, -10px);
    transition-duration: 0.25s;
}





.sidebar {
    display: block;
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: rgb(243, 229, 229); 
    flex-direction: column;
}



/*Sidebar Header Css*/
.sidebar > .sidebar-logo, .sidebar-Header {
    font-size: 24px;
    padding: 10px;
    font-weight: 900;
}

/*Search Input Css*/
.sidebar > .sidebar-input > input {
    display: flex;
    position: absolute;
    padding: 1em;
    outline: none;
    border-radius: 6px;
    margin-top: 1px;
    align-items: center;
    margin-left: 32px;
    outline-style: ridge;
    outline-color: rgb(101, 240, 37);
}

.sidebar > .sidebar-input > input:focus {
    padding-left: 60px;
    outline-width: 5px;
}




/*Reusable Css for sidebar logo and text*/
.sidebar > .sidebar-logo1, .sidebar-text1 {
    display: flex;
    position: absolute;
    margin-top: 20vh;
    padding: 20px;
    font-size: 24px;
    transform: translateX(90px);
}


.sidebar > .sidebar-logo2, .sidebar-text2 {
    display: flex;
    position: absolute;
    margin-top: 30vh;
    padding: 20px;
    font-size: 25px;
    transform: translateX(90px);
}

.sidebar > .sidebar-logo3, .sidebar-text3 {
    display: flex;
    position: absolute;
    margin-top: 40vh;
    padding: 20px;
    font-size: 25px;
    transform: translateX(90px);
}

.sidebar > .sidebar-logo4, .sidebar-text4 {
    display: flex;
    position: absolute;
    margin-top: 50vh;
    padding: 20px;
    font-size: 25px;
    transform: translateX(90px);
}


.sidebar  a {
    text-decoration: none;
    color: black;
}

/*hover section*/
.sidebar > .sidebar-text1 a:hover {
    color: burlywood;
}

.sidebar > .sidebar-text2 a:hover {
    color: burlywood;
}

.sidebar > .sidebar-text3 a:hover {
    color: burlywood;
}

.sidebar > .sidebar-text4 a:hover, a:active {
    color: burlywood;
}


/*sidebar logo css*/
.sidebar > .sidebar-logo1 {
    transform: translateX(50px);
}

.sidebar > .sidebar-logo2 {
    transform: translateX(50px);
}

.sidebar > .sidebar-logo3 {
    transform: translateX(50px);
}

.sidebar > .sidebar-logo4 {
    transform: translateX(50px);
}

.sidebar-toggle1 > img {
    min-width: 40px;
    display: flex;
    position: absolute;
    margin-top: 4px;
    margin-left: 252px;
    cursor: pointer;
}

.sidebar1 {
    display: flex;
}



.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    transform: translateX(-20px);
    z-index: -1;
}

.card1 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card1 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card1:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card1:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card1:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card1:hover > .card-text > h3 {
    color: purple;
}


.card2 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card2 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card2:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
    z-index: 5;
}


.card2:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card2:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card2:hover > .card-text > h3 {
    color: purple;
}


.card3 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card3 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card3:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card3:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card3:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card3:hover > .card-text > h3 {
    color: purple;
}


.card4 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card4 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card4:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card4:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card4:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card4:hover > .card-text > h3 {
    color: purple;
}


.card5 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card5 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card5:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card5:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card5:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card5:hover > .card-text > h3 {
    color: purple;
}


.card6 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card6 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card6:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card6:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card6:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card6:hover > .card-text > h3 {
    color: purple;
}


.card7 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card7 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card7:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card7:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card7:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card7:hover > .card-text > h3 {
    color: purple;
}


.card8 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card8 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card8:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card8:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card8:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card8:hover > .card-text > h3 {
    color: purple;
}


.card9 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card9 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card9:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card9:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card9:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card9:hover > .card-text > h3 {
    color: purple;
}


.card10 {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 150px;
    width: 100px;
    border-radius: 5px;

}

.card10 > .card-img > img {
    position: absolute;
    border-radius: 5px;
}

.card10:hover {
    background-color: green;
    display: flex;
    position: relative;
    top: 80px;
    left: 50px;
    height: 200px;
    width: 180px;
    border-radius: 5px;
}


.card10:hover > .card-img > img {
    position: absolute;
    border-radius: 5px;
    top: -70px;
    left: 40px;
}

.card10:hover > .card-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    left: 9px;
    line-break: anywhere;
}

.card10:hover > .card-text > h3 {
    color: purple;
}